# Ignore everything by default, contrib sources are coming from other places
*

# Include specific files that should be tracked by Git
!.gitignore
!oran-interface/
!oran-interface/model/
!oran-interface/model/zmq-database-client.h